body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1vw;
}
.container {
  max-width: 90vw;
  margin: 5vw;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  overflow-y: scroll;
  max-height: 90vh;
}
.product-item {
  /* flex-basis: calc(25% - 5vw); */
  width: 15vw;
  height: auto;
  margin: 0.5vw;
  padding: 1vw;
  background-color: #6c18b5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-image {
  max-width: 100%;
  height: auto;
}
